@import url('https://fonts.googleapis.com/css?family=Lobster|Montserrat|Pacifico&display=swap');

body {
background-image: url("images/jellyfish2.gif");
font-family: 'Montserrat', sans-serif;
text-align: center;
background-color: #FCFCFC;
color: #B0E0E6;
}

h1 {
  text-shadow: 0.2em 0.2em 0.2em rgba(0,0,0,0.2);
  font-family: 'Pacifico', cursive;
  font-size: 36px;
}

a {
  text-decoration: underline;
  font-family: 'Pacifico', cursive;
}

a:hover {
  background-color: #FF69B480;
}

a:visited {
  color: #FCFCFC80;
}

p {
  color: #FCFCFC;
}

h2 {
  color: #FCFCFC;
}

h3 {
  font-family: 'Pacifico', cursive;
  font-size: 28;
  text-shadow: 0.2em 0.2em 0.2em rgba(0,0,0,0.2);
}

.avatar {
  width: 150px;
  height: 150px;
}

.container {
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px, 0px, 20px, gray;
  margin: 20 auto;
}

.button {
  background-color: #BCEBCB;
  border: none;
  color: #454545;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 20px;
}

.image-center {
  align-self: center;
  width: 50%;
  height: auto;
}


#white {
  background-color: #FCFCFC80;
}

#white-light {
  background-color: #FCFCFC4D;
}

#white-lighter {
  background-color: #FCFCFC33;
}

.img-circle {
  border-radius: 50%;
}

#gif {

  width: 75%;
  height: auto;

}

.follow-me {
  font-size: 30px;
  color: #FCFCFC;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 800px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}


